################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Questao1/Questao1.csproj
/Questao2/Questao2.csproj
